:root {
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: slategray;
}

.formid input {
  color: white;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  line-height: 1em;
}

h2,
h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 18px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vw;
  font-weight: 700;
  color: black;
}

article h3 {
  color: black;
}

nav {
  display: flex;
  justify-content: center;
}

nav li {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

header {
  height: 600px;
  background-image: url(https://www.smallerearth.com/system/forest_page/images/files/000/000/460/original/Creators_Header_Banner1.jpg?1556110005);
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(66, 74, 89);
  text-align: center;
  padding-top: 8em;
}

[role="button"] {
  width: 15em;
}
input[type="text"] {
  color: black;
  font-size: x-large;
}
button,
input[type="button"],
[role="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.3px;
  height: 3em;
  text-transform: uppercase;
}

.Container {
  margin: 50px 0 50px 0;
  padding: 20px 0 20px 0;
  justify-content: center;

}

.CE {
  width: 40%;
}




.DB {
  --background-color: rgb(255, 96, 92);
}

